<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556125211021-n2egr5v4l4u867mai7phrjv9dbgejidi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556125211021-n2egr5v4l4u867mai7phrjv9dbgejidi</string>
	<key>API_KEY</key>
	<string>AIzaSyBTMg1yt8MduE8NY8dA3Ely766jWMp8eb0</string>
	<key>GCM_SENDER_ID</key>
	<string>556125211021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.thinkapp.riverpodapp.stg</string>
	<key>PROJECT_ID</key>
	<string>riverpod-app-001</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-app-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556125211021:ios:e04694b95d4cf43f3915c4</string>
</dict>
</plist>